*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}
body{
    background-color: #000000;

}
p{
    font-family: 'Varela', Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'rubik', Arial, sans-serif;
}
button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}
/* תפריט ניווט עליון */
header{
    height: 3rem;
}
.navbar {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px); 
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 1000;
    border-radius: 1rem;
    display: flex;  /* הופך את ה-navbar לקונטיינר גמיש */
    justify-content: center; /* מרכז את התוכן אופקית */
    align-items: center; /* מרכז את התוכן אנכית */
    
    
   
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.nav-links li {
    margin: 0 15px;
    
    
}
.nav-links a {
    text-decoration: none;
    color: #404344;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
    color: #000000; /* משנה צבע לאפור בעת ריחוף */
}

/* השלבים לבניית אתר */
.stages-container{
    margin: 2rem 0;
    text-align: center;
}
.stages-header{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 3rem;
}
.stages-header h2{
    font-size: 2.8rem;
}
.stages-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.stages{
    border-radius: 10px;
    background-color: white;
    min-width: 20rem;
    width: 25%;
    height: 20rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: transform 0.5s ease-in-out; /* הופך את האנימציה לחלקה */
    position: relative;


    
}
.stages-container h3{
    font-size: 2.5rem;
    top: 0;
    right: 0.5rem;
    position: absolute;
    text-align: right;
}
.stages-container h4{
    font-size: 1.8rem;
    border-bottom: 2px solid black;
}
.stages-container p{
    font-size: 1.2rem
}
.stages:hover{
    transform: scale(1.05);
}


/* של בניית אתר תמונה שמראה את השלבים */
.stages-photo{
    width: 100%;
    height: 34rem;
    min-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5rem;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
 
}
.stages-photo .img-container{
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;

}
.stages-photo img{
    width: 50%;
    transition: transform 0.5s ease-in-out;
 
}

.stages-photo .img-container img:hover{
    filter: brightness(1.4) contrast(1.3);
    transform: scale(1.1);
}
.stages-photo .small-img-container:hover{
    filter: brightness(1.4) contrast(1.3);
    
}
.stages-photo .small-img-container {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* ממוקם מסביב לתמונה המרכזית */  
    transition: transform 0.5s ease-in-out;
    
}
.small-img-container .outside-img{
    width: 80%;
}
.small-img-container .inside-img {
    position: absolute;
    text-align: center;
    width: 50%;
}

.small1 { bottom: calc(50% - 11rem); left: 50%; transform: translateX(-50%); }  /* למטה באמצע */
.small2 { top: calc(50% - 7rem); left: calc(50% - 5rem); transform: translate(-50%, -50%); }  /* שמאל למעלה */
.small3 { top: calc(50% - 7rem); right: calc(50% - 5rem); transform: translate(50%, -50%); } /* ימין למעלה */
.small4 { bottom: calc(50% - 2rem); left: calc(50% - 7.5rem); transform: translate(-50%, 50%); } /* שמאל למטה */
.small5 { bottom: calc(50% - 2rem); right: calc(50% - 7.5rem); transform: translate(50%, 50%); } /* ימין למטה */
/* המשך של הלמעלה פשוט סידור הטקסטים ליד התמונות הקטנות */
.stages-photo .text-container {
    position: absolute;
    width: 8rem; /* גודל אחיד לכל התיבות */
    font-size: 1rem;
    color: #333;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
    
}

.stages-photo .text-container h4 {
    font-size: 1.6rem;
    margin-bottom: 0.3rem;
    color: #1d1d1f; /* צבע כהה יותר לכותרת */
}

.stages-photo .text-container p {
    font-size: 1.1rem;
    font-weight: normal;
    color: #555; /* צבע בהיר יותר לטקסט */
}
.stages-photo .text-container:hover{
    filter: brightness(1.4) contrast(1.3);
    
}



/* מיקום הטקסט ליד כל תמונה */
.text1 { bottom: calc(50% - 15.5rem); left: 50%; transform: translateX(-50%); text-align: center;} /* מתחת לתמונה 1 */
.text2 { top: calc(50% - 8rem); left: calc(50% - 12.5rem); transform: translate(-50%, -50%); } /* ליד תמונה 2 */
.text3 { top: calc(50% - 7.5rem); right: calc(50% - 11rem); transform: translate(50%, -50%); } /* ליד תמונה 3 */
.text4 { bottom: calc(50% - 4rem); left: calc(50% - 15rem); transform: translate(-50%, 50%); } /* ליד תמונה 4 */
.text5 { bottom: calc(50% - 4rem); right: calc(50% - 15rem); transform: translate(50%, 50%); } /* ליד תמונה 5 */

.stages-photo .text1 h4{color: #a8dc34;}
.stages-photo .text2 h4{color: #f8943c;}
.stages-photo .text3 h4{color: #20c4fc;}
.stages-photo .text4 h4{color: #f864bc;}
.stages-photo .text5 h4{color: #48dc94;}

/* 
form פרטי יצירת קשר */
.form-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 2rem 0;
}

.form-container-div{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    padding: 1rem;
    border-radius: 10px;
    width: 30%;
    min-width: 24rem;
    height: 32rem;

}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    outline: none;
    border-bottom: 3px solid  #4d4f52;
    font-size: 1rem;
    
}
input:focus, textarea:focus {
    border-bottom: 4px solid #000000;
}
textarea{
    resize: none
}

.form-container h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}
/* הפונקציה אחרי שלוחצים שלח ב form */
#thankYouMessage{
    display: flex;
    flex-direction: column;
    gap: 8rem;
    align-items: center;
    background: #ffffff;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    width: 30%;
    min-width: 24rem;
    height: 32rem;
    display: none;
}
#thankYouMessage button{
    height: 15rem;
    font-size: 2rem;
}

























